<div class="image"></div>
<div style="font-family: Arial, Helvetica, sans-serif; color: blue;">
  <h2 style="margin-left: 80px; margin-top: 50px; border-bottom: solid lightgrey 2px; color: #599EC5">FAQs</h2>
  <!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<div>
<h3 style="margin-left: 80px; margin-top: 60px; color: #599EC5">Account</h3>
<div class = "container" style="margin-top: 30px;">

  
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" style="color: #599EC5;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          What are the key features of Howzat Account?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body" style="color: black;">
        The Howzat Account offers a unique programme that enables customers to earn exciting ‘runs’ every time they transact on their account. Furthermore, customers stand to win extra runs for purchases made on their Debit Card the day after India wins an International Cricket Match. These runs can be redeemed against attractive discounts on cricket gear and sporting equipment, on participation in Cricket Mela, and can even give customers a chance to meet their favourite cricket stars.
<br><br>
Other attractive features include:
<br>
<br>

1. First-year-free MasterCard Titanium Debit Card made of eco-friendly plastic <br>
2. Free unlimited cash withdrawal (in terms of number of transactions) and balance enquiries at any ATM in India for Howzzaat!!! 10 and Howzzaat!!! 25 accounts. (subject to maintaining a Rs. 25,000 average quarterly balance.) <br>
3. Free multi-city cheque book when you maintain an average quarterly balance (Howzzaat!!! Employee Banking Account holders should refer to our corporate offer for full details.) <br>
4. Anywhere branch banking with access to 94 branches spread across 37 cities <br>
5. Online banking, mobile banking, and 24 x 7 phone banking facilities available
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" style="color: #599EC5;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          What are the conditions stipulated for accounts which are additionally to be treated as Small Account’?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body" style="color: black;">
        As notified in terms of Govt of India notification dated December 16, 2010, Small Accounts would be subject to the following conditions:
<br>
<br>
        i. Total credits in such accounts should not exceed one lakh rupees in a year.
        <br>
        ii. Maximum balance in the account should not exceed fifty thousand rupees at any time
        <br>
        iii. The total of debits by way of cash withdrawals and transfers will not exceed ten thousand rupees in a month
        <br>
        iv. Foreign remittances can not be credited to Small Accounts without completing normal KYC formalities
        <br>
        v. Small accounts are valid for a period of 12 months initially which may be extended by another 12 months if the person provides proof of having applied for an Officially Valid Document.
        <br>
        vi. Small Accounts can only be opened at CBS linked branches of banks or at such branches where it is possible to manually monitor the fulfilments of the conditions
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" style="color: #599EC5;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Can an Individual have any number of 'Basic Savings Bank Deposit Account' in one bank?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body" style="color: black;">
        No. An individual is eligible to have only one 'Basic Savings Bank Deposit Account' in one bank.
      </div>
    </div>
  </div>
</div>
  
  
</div>
</div>


<div>
<h3 style="margin-left: 80px; margin-top: 60px; color: #599EC5;">Credit Cards</h3>
<div class = "container" style="margin-top: 30px;">

  
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" style="color: #599EC5;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          How long does it take to apply for a Credit Card?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body" style="color: black;">
        Once we have received all of the required document(s), it takes approximately 9 days to approve your credit card.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" style="color: #599EC5;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          What are my obligations when I hold a Credit Card?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body" style="color: black;">
        The minimum payment due every month must be higher than the following (a) 5% of the outstanding balance or (b) the sum total of all instalments billed, interest, fees, other charges, amount you are over limit and 1% of the principal or Rs. 250
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" style="color: #599EC5;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
         Are there and additional charges if I use my Credit Card overseas?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body" style="color: black;">
        All overseas transactions are levied with a 3.5% transaction fee. This includes VISA/MasterCard charges for the conversion of overseas transactions into India Rs. Please note, transactions at merchant establishments registered overseas attract a 0.80% VISA/MasterCard charge, even if the merchant is located in India. This is included as a part of the transaction amount in your statement.
      </div>
    </div>
  </div>
</div>
  
  
</div>
</div>



</div>
