<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex text-center h-100">
      <div class="my-auto w-100 text-white">
        <h1 class="display-3">About Us</h1>
      
      </div>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
    <pre> <h2> <b>High expectations 
          have their advantages</b></h2></pre>
        <p>  Standard Chartered Personal Banking, India’s fourth largest private sector Bank, is an outcome of the professional entrepreneurship of its
           Founder Rana Kapoor and his highly competent top management team, to establish a high quality, customer centric, service driven,
            bank catering to the “Sunrise Sector of India”. YES BANK is the only Greenfield Bank license awarded by the RBI in the last two decades,
             associated with the finest pedigree investors. YES BANK, a "Full Service Commercial Bank”, has steadily built a Corporate, Retail & SME Banking 
             franchise, with a comprehensive product suite of Financial Markets, Investment Banking, Corporate Finance, Branch Banking, Business and Transaction Banking, 
          and Wealth Management business lines across the country. 
          </p>
        
       
      </div>
    </div>
  </div>
</section>


<!-- Page Content -->


<div class="container">

 

  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
       
        <div class="card-body">
       
            
            <h4><a href="https://www.google.co.in/maps/search/greater+kailash+place+google/@28.5441144,77.2217454,14z/data=!3m1!4b1">Reach Us</a></h4>
          
          <p class="card-text">
            You are never too far away from quick, efficient banking services. Locate your nearest branch or an ATM.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
     
        <div class="card-body">
          <h4>
            
            <a href="http://localhost:4200/contact">Call Us</a>
          </h4>
          <p class="card-text">For assistance, call our Phone Banking at 1860-266-2666 or, 1860-266-0811 if you are an 811 customer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
          <div class="card-body">
              <h4>
                
                <a href="http://localhost:4200/contact">Services</a>
              </h4>
              <p class="card-text">For assistance, call our Phone Banking at 1860-266-2666 or, 1860-266-0811 if you are an 811 customer.</p>
            </div>
      
      </div>
    </div>
    
   
   
  </div>
  <!-- /.row -->



</div>
<!-- /.container -->




<div class="container-fluid" style="margin-top:60px; background-color: #2887C1">
  <div class="row">
    <div class="col-lg-5" style="padding:20px; color:white">
      <div>
      <h5>Quick Links</h5><br>
      <ul>
       <li><a href="aboutus" style="color: white;">About us</a></li>
        <li><a href="http://localhost:4200/faq" style="color: white;">FAQs</a></li>
        <li><a href="http://localhost:4200/contact" style="color: white;">Contact Us</a></li>
       
      </ul></div>
     
    </div>
    <div class="col-lg-5" style="padding:20px; color:white">
        <h5>Contact Details</h5><br>
        <ul>
            <li>Phone No: +91 8800475611</li>
            <li>Email :  Standard Chartered Personal Banking@gmail.com</li>
            <li>Address : B12, Pitam Pura, New Delhi.</li>
            <li>Copyright 2018 - All rights reserved</li>
          </ul>
    </div>
    <div class="col-lg-2" style="padding:20px; color:white">
  <div class="scontainer">
      <ul class="slist">
          <li>
              <i class="fa fa-facebook" aria-hidden="true"></i>
             
          </li>
          <li>
              <i class="fa fa-google-plus" aria-hidden="true"></i>
             
          </li>
          <li>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              
          </li>
          <li>
              <i class="fa fa-instagram" aria-hidden="true"></i>
            
          </li>
          <li>
              <i class="fa fa-youtube" aria-hidden="true"></i>
              
          </li>
          
      </ul>
  </div>
  </div>  </div>