<div class="container-fluid" id="jumbo" style="z-index:0; background-size: cover; background-image:url('./assets/banner.jpg'); height:500px">
  <div class="container" id="jumboDiv" style="position:relative; top:300px">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <button class="btn btn-block btn-custom" style="margin-top:50px" routerLink="login">USER</button>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-block btn-custom" style="margin-top:50px" routerLink="adminlogin">ADMIN</button>
        </div>  
        <div class="col-lg-2"></div>
    </div>
  </div>
</div>

<div class="card text-center" style="margin-bottom:20px;background-color:white;padding:30px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;">
    <h5 style="color:#2887C1">Standard Chartered Personal Banking</h5>
    <h3>Simple and smarter banking to help you save, spend and get rewarded.</h3>
</div>



<nav id="navbar-example2" class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #2887C1">

      <ul class="nav nav-pills navbar-nav mx-auto order-0">
        <li class="nav-item" style="margin-right: 20px">
          <a class="nav-link"  href="#fat">Simple and convenient banking<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" style="margin-right: 20px">
          <a class="nav-link" href="#mdo">Simple financing solutions</a>
        </li>
        <li class="nav-item" style="margin-right: 20px">
          <a class="nav-link" href="#one">Wealth and insurance</a>
        </li>
        <li class="nav-item" style="margin-right: 20px">
            <a class="nav-link" href="#two">Rewards and promotions</a>
          </li>
      </ul>
  
  </nav>
  <div data-spy="scroll" data-target="#navbar-example2" data-offset="30" style="height:600px;overflow-y: scroll;;overflow-x:hidden;position: relative;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;">
      <div id="fat" class="row" style="padding:30px 20px">
        <div class="col-lg-6" style="padding:20px">
          <h4 style="color:#2887C1">Simple and convenient banking</h4><br>
          <p>Simple and convenient banking</p>
          <h6><b>ACCOUNTS AND DEPOSITS</b></h6>	
          <p>A variety of Savings Account solutions that cater to an array of financial requirements</p>
        <ul>
          <li>Accounts that gets you access to your cash at 20,000 ATMs in India and 1 million VISA ATMs around the world.</li>
          <li>Accounts linked with TDs having auto-sweep-in / sweep-out facility.</li>
          <li>Accounts that are linked with Demat and broking services from Standard Chartered Securities in a single application.</li>
          <li>Term (Fixed )Deposits to maximise your savings at higher interest rates.</li>
          <li>A suite of products tailor made for Non-Resident Indians.</li>
          and more…
        </ul>
        <br>

        <h6><b>24×7 DIGITAL BANKING	</b></h6>	
          <p>Breeze through your banking transactions with our easy to use Online and Mobile banking solutions.</p>
        <ul>
          <li>Manage & Transfer Funds with IMPS, NEFT, RTGS, UPI etc.</li>
          <li>Bill payments to more than 100 payers on your mobile phone, tablet or laptop.</li>
          <li>Access past 24 months e-statements, TDS certificates etc.</li>
          <li>Secure authentication of your account when you call us via Voice ID recognition.</li>
          <li>Touch ID login, make your fingerprint your password for mobile banking.</li>
          and more…
        </ul>

        </div>
        <div class="col-lg-6" style="padding:20px">
          <br><br><br><br>
          <h6><b>24×7 DIGITAL BANKING	</b></h6>	
          <p>Breeze through your banking transactions with our easy to use Online and Mobile banking solutions.</p>
        
          <h6><b>24×7 DIGITAL BANKING	</b></h6>	
          <p>Breeze through your banking transactions with our easy to use Online and Mobile banking solutions.</p>
        
        </div>
      </div>

      <hr>
      
      <div id="mdo" class="row" style="padding:30px 20px">
          <div class="col-lg-6" style="padding:20px">
              <h4 style="color:#2887C1">Simple financing solutions</h4><br>
              
              <h6><b>CREDIT CARDS</b></h6>	
              <p>Get spoilt for choice with our amazing range of credit cards</p>
            <ul>
              <li>Get rewards or cashback on travel, fuel, dining, shopping spends and more.</li>
              <li>Privileges such as complimentary airport lounge access, concierge services, and more.</li>
              <li>An exciting online rewards catalogue to redeem your reward points with the 360° rewards program.</li>
              <li>20% cashback on all Uber rides till 30 September 2018.</li>
              <li>A host of discounts and offers across dining, shopping, travel and much more with the Standard Chartered Good Life program.</li>
              <li>A wide range of instant payment solutions like Bharat QR, Bharat Bill Pay Solution (BBPS), and Samsung Pay.</li>
              <li>Online banking and Standard Chartered Mobile app to view your card balance and make convenient and instant card payments.</li>
              and more…
            </ul>
    
            </div>
            <div class="col-lg-6" style="padding:20px">
              
              <h6><b>PERSONAL LOANS</b></h6>	
              <p>Loans with flexible payments and competitive rates</p>
              
              <ul>
                <li>Personal Loan up to 30 Lakh.</li>
                <li>Loan against Securities / Term Deposits.</li>
                <li>Payroll overdraft for salary accounts clients.</li>
              </ul>
              <br>
              <h6><b>HOME LOANS AND MORTGAGES	</b></h6>	
              <p>Easy loans to make your dream home a reality</p>
              
              <ul>
                <li>Home Loans up to INR 35 Crore.</li>
                <li>Home Saver – pay back your home loan faster with reduced interest burden.</li>
                <li>Cashback home loan – Avail of cashback facility on home loan and get rewarded with 2% cashback basis your repayment track. Cashback will be credited to your Standard Chartered savings account.</li>
                <li>Loan against Property – Borrow up to 70% of the market value of your property.</li>
              </ul>
            </div>
      </div>
      <hr>
      <div id="one" class="row" style="padding:30px 20px">
          <div class="col-lg-6" style="padding:20px">
              <h4 style="color:#2887C1">Wealth and insurance</h4><br>
              <h6><b>GROW YOUR WEALTH	</b></h6>	
            
            <ul>
              <li>Wide range of investment products offered from all leading fund houses in India.</li>
              <li>Transact in mutual funds conveniently with online mutual funds. Get fund ideas, market commentaries and view fund performance.</li>
              <li>Access market views on the go, 24×7.</li>
              <li>Remote wealth transaction platform to conduct your mutual fund transactions through the phone.</li>
            </ul>
            <br>
              <h6><b>OFFERS AND DISCOUNTS ON CREDIT CARD OFFERS</b></h6>	
            
            <ul>
              <li>Enjoy a host of offers and discounts across shopping, travel, dining and more with exclusive offers on your credit card.</li>
            </ul>
            <br>
              <h6><b>THE GOOD LIFE PROGRAMME</b></h6>	
            
            <ul>
              <li>Enjoy a host of discounts and offers across dining, shopping, travel and many more with the Standard Chartered Good Life programme, on your credit card.</li>
            </ul>
          </div>
            <div class="col-lg-6" style="padding:20px">
              <br><br><br><br>
              <h6><b>INSURANCE SOLUTIONS</b></h6>	
              <ul>
                  <li>A wide range of life, health, home and personal accident insurance plans from our insurance partners.</li>
                  <li>Proprietary insurance needs analysis tool that helps us assess and recommend suitable insurance solutions, to protect the future dreams of your loved ones.</li>
                  <li>Digital platforms to ensure a convenient buying journey.</li>
                </ul>
            </div>
      </div>
      <div id="two" class="row" style="padding:30px 20px">
          <div class="col-lg-6" style="padding:20px">
              <h4 style="color:#2887C1">Wealth and insurance</h4><br>
              <h6><b>OFFERS AND DISCOUNTS ON CREDIT CARD OFFERS	</b></h6>	
            
            <ul>
              <li>Wide range of investment products offered from all leading fund houses in India.</li>
              <li>Transact in mutual funds conveniently with online mutual funds. Get fund ideas, market commentaries and view fund performance.</li>
              <li>Access market views on the go, 24×7.</li>
              <li>Remote wealth transaction platform to conduct your mutual fund transactions through the phone.</li>
            </ul>
            <br>
              <h6><b>OFFERS AND DISCOUNTS ON CREDIT CARD OFFERS</b></h6>	
            
            <ul>
              <li>Enjoy a host of offers and discounts across shopping, travel, dining and more with exclusive offers on your credit card.</li>
            </ul>
            <br>
              <h6><b>THE GOOD LIFE PROGRAMME</b></h6>	
            
            <ul>
              <li>Enjoy a host of discounts and offers across dining, shopping, travel and many more with the Standard Chartered Good Life programme, on your credit card.</li>
            </ul>
          </div>
            <div class="col-lg-6" style="padding:20px">
              <br><br><br><br>
              <h6><b>INSURANCE SOLUTIONS</b></h6>	
              <ul>
                  <li>A wide range of life, health, home and personal accident insurance plans from our insurance partners.</li>
                  <li>Proprietary insurance needs analysis tool that helps us assess and recommend suitable insurance solutions, to protect the future dreams of your loved ones.</li>
                  <li>Digital platforms to ensure a convenient buying journey.</li>
                </ul>
            </div>
          </div>
     
    </div>
    <div class="container" style="padding:40px 20px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;margin-top:50px">
      <div class="card" style="margin-top:30px;">
          <div class="card-header" style="background-color: #2887C1; color:white">Banking News</div>
          <div class="row blog" style="margin-top:30px">
              <div class="col-md-12">
                  <div id="blogCarousel" class="carousel slide" data-ride="carousel">
  
                      <ol class="carousel-indicators">
                          <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#blogCarousel" data-slide-to="1"></li>
                      </ol>
  
                      <!-- Carousel items -->
                      <div class="carousel-inner">
  
                          <div class="carousel-item active">
                              <div class="card-deck">
                              
                                  <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                                    <div class="border-primary mb-3" style="max-width: 18rem;">
                                        <div class="card-header bg-blue" style="color:white">{{newsArr.articles[4].title}}</div>
                                        <div class="card-body text-primary">
                                       
                                          <p class="card-text">{{newsArr.articles[4].description}}</p>
                                        </div>
                                      </div>
                                </div>
                                <div class="d-b card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                                    <div class="border-primary mb-3" style="max-width: 18rem;">
                                        <div class="card-header bg-blue" style="color:white">{{newsArr.articles[5].title}}</div>
                                        <div class="card-body text-primary">
                                       
                                          <p class="card-text">{{newsArr.articles[5].description}}</p>
                                        </div>
                                      </div>
                                </div>
                                <div class="d-b card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                                    <div class="border-primary mb-3" style="max-width: 18rem;">
                                        <div class="card-header bg-blue" style="color:white">{{newsArr.articles[6].title}}</div>
                                        <div class="card-body text-primary">
                                       
                                          <p class="card-text">{{newsArr.articles[6].description}}</p>
                                        </div>
                                      </div>
                                </div>
                                <div class="d-b card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                                    <div class="border-primary mb-3" style="max-width: 18rem;">
                                        <div class="card-header bg-blue" style="color:white">{{newsArr.articles[7].title}}</div>
                                        <div class="card-body text-primary">
                                       
                                          <p class="card-text">{{newsArr.articles[7].description}}</p>
                                        </div>
                                      </div>
                                </div>
                          </div>
                          </div>
                          <!--.item-->
  
                          <div class="carousel-item">
                            <div class="card-deck">
                              
                                <div class="card col-lg-3 col-md-6 col-sm-12" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                                  <div class="border-primary mb-3" style="max-width: 18rem;">
                                      <div class="card-header bg-blue" style="color:white">{{newsArr.articles[4].title}}</div>
                                      <div class="card-body text-primary">
                                     
                                        <p class="card-text">{{newsArr.articles[4].description}}</p>
                                      </div>
                                    </div>
                              </div>
                              <div class="card col-lg-3 col-md-6 col-sm-12" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                                  <div class="border-primary mb-3" style="max-width: 18rem;">
                                      <div class="card-header bg-blue" style="color:white">{{newsArr.articles[5].title}}</div>
                                      <div class="card-body text-primary">
                                     
                                        <p class="card-text">{{newsArr.articles[5].description}}</p>
                                      </div>
                                    </div>
                              </div>
                              <div class="card col-lg-3 col-md-6 col-sm-12" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                                  <div class="border-primary mb-3" style="max-width: 18rem;">
                                      <div class="card-header bg-blue" style="color:white">{{newsArr.articles[6].title}}</div>
                                      <div class="card-body text-primary">
                                     
                                        <p class="card-text">{{newsArr.articles[6].description}}</p>
                                      </div>
                                    </div>
                              </div>
                              <div class="card col-lg-3 col-md-6 col-sm-12" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                                  <div class="border-primary mb-3" style="max-width: 18rem;">
                                      <div class="card-header bg-blue" style="color:white">{{newsArr.articles[7].title}}</div>
                                      <div class="card-body text-primary">
                                     
                                        <p class="card-text">{{newsArr.articles[7].description}}</p>
                                      </div>
                                    </div>
                              </div>
                        </div>
                              <!--.row-->
                    
                        </div>
                          <!--.item-->
  
                      </div>
                      <!--.carousel-inner-->
                  </div>
                  <!--.Carousel-->
  
              </div>
          </div>
      </div>
  </div>

<div class="container-fluid" style="margin-top:60px; background-color: #2887C1">
  <div class="row">
    <div class="col-lg-6" style="padding:20px; color:white">
      <h5>Quick Links</h5><br>
      <ul>
        <li><a href="aboutus" style="color: white;">About us</a></li>
          <li><a href="http://localhost:4200/faq" style="color: white;">FAQs</a></li>
          <li><a href="http://localhost:4200/contact" style="color: white;">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-lg-6" style="padding:20px; color:white">
        <h5>Contact Details</h5><br>
        <ul>
            <li>Phone No: +91 8800475611</li>
            <li>Email : personalbank@gmail.com</li>
            <li>Address : B12, Pitam Pura, New Delhi.</li>
            <li>Copyright 2018 - All rights reserved</li>
          </ul>
    </div>
  </div>
</div>